APP_PORT=8081
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=recurring_db
POSTGRES_PORT=5433

# API Keys y Sandbox
STRIPE_API_KEY=sk_test_TU_CLAVE_DE_STRIPE_AQUI
PAYPAL_CLIENT_ID=TU_PAYPAL_CLIENT_ID_AQUI
PAYPAL_CLIENT_SECRET=TU_PAYPAL_CLIENT_SECRET_AQUI